#subHeading{
    font-weight: 100;
    margin-top: 0;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 24px;
}

#mainHeading{
    font-size: 100px;
    font-weight: 100;
    font-stretch: condensed;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 2%;
}

.form{
    /* margin-top: 20px; */
    text-align: center;
    padding: 50px;
} 

#guessfield {
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0px;
    transition: all 0.3s ease;
}
#submit {
    border-radius: 5px;
    width: 50%;
    max-width: 180px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#submit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
p {
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 600px) {
    #mainHeading {
        font-size: 40px;
    }

    .subHeading {
        font-size: 16px;
    }

    #guessfield {
        width: 80%;
        padding: 10px;
    }

    #submit {
        width: 70%;
    }
}
#newgame {
    border-radius: 5px;
    width: 50%;
    max-width: 200px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#newgame:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
